::ng-deep bs-shell {
  .nav-link {
    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    &.active {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}

main {
  min-height: 100vh;
  background-color: #f8f9fa;
}
