:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;

  &.virtual-scrolling {
    margin: 0 -1.5rem -1.5rem;
  }
}

tr:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

td input[type="checkbox"]:disabled {
  opacity: 1;
  pointer-events: none;
}

