::ng-deep bs-shell {
  bs-accordion {
    bs-accordion-tab {
      .accordion-item {
        background-color: transparent;
        border: none;
      }

      .accordion-header {
        .accordion-button {
          background-color: transparent;
          color: inherit;
          box-shadow: none;

          &:not(.collapsed) {
            background-color: rgba(255, 255, 255, 0.1);
          }
        }
      }

      .accordion-body {
        background-color: rgba(0, 0, 0, 0.2);
        padding: 0;
      }
    }
  }

  .nav-link {
    padding: 0.5rem 1rem;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    &.active {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}

nav.sidebar-inner {
    padding-top: 3.375rem !important;
}

.top-bar {
  z-index: 1000;
  height: 3.375rem;
}

main {
  min-height: 100vh;
  padding-top: 4rem !important; // 54px for top-bar
  background-color: #f8f9fa;
}

::ng-deep .sidebar {
  background: #333;
}

